.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.formContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputField {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  transition: border-color 0.3s;
}

.inputField:focus {
  outline: none;
  border-color: #007bff;
}

.timesheetsDisplay {
  margin-top: 50px;
}

.timesheetItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px; /* Adjust the font size as needed */
}

.timesheetItem h1 {
  margin: 5px 0;
  font-size: 16px; /* Adjust the font size as needed */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
